/* Responsive Design */

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}

[class="video-desktop"] {
  display: none;
}

[class="video-tablet"] {
  display: none;
}

[class="video-mobile"] {
  display: none;
}

[class="video-mobile-tall"] {
  display: inline;
}

@media only screen and (min-width: 412px) {
  .video-desktop {display: none;}
  .video-tablet {display: none;}
  .video-mobile {display: inline;}
  .video-mobile-tall {display: none;}
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .video-desktop {display: none;}
  .video-tablet {display: inline;}
  .video-mobile {display: none;}
  .video-mobile-tall {display: none;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .video-desktop {display: inline;}
  .video-tablet {display: none;}
  .video-mobile {display: none;}
  .video-mobile-tall {display: none;}
}




/* Table Style */

table.table-basic {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

th.th-basic, td.td-basic {
  text-align: left;
  padding: 8px;
}

tr.tr-basic:nth-child(even){background: rgba(204, 183, 122, 0.3)}
tr.tr-basic{background: rgba(204, 183, 122, 0.5)}

th.th-basic {
  background-color: #CCB77A;
  color: white;
}




/* Site Properties */

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.background {
  background-image: url("https://i.imgur.com/RUNLgH2.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}




/* Font */

* {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1.5px 1.5px 3.5px #000000;
}

a:link, a:visited {
  color: #CCB77A;
  text-decoration: none;
}

a:hover, a:active {
  color: #9A5235;
  text-decoration: underline;
}

.section-link {
  padding: 10px 0px 10px 0px;
  margion: 0px;
}




/* Header Style */

.header {
  background-color: #9A5235;
  color: #CCB77A;
  padding: 15px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}




/* Menu Style */
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #9A5235;
  color: #CCB77A;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.menu li:hover {
  background-color: #D3BF89;
  color: #9A5235;
}




/* ASide Style */

.aside {
  background-color: #9A5235;
  padding: 15px;
  color: #CCB77A;
  text-align: center;
  font-size: 14px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}




/* Footer Style */

.footer {
  background-color: #9A5235;
  color: #CCB77A;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}




/* Article Style */

.row:after {
  content: "";
  clear: both;
  display: table;
}

.article {
  color: #CCB77A;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.article-bg {
  background-color: #592E1C; /* For browsers that do not support gradients */
  background-image: linear-gradient(#1B0C06, #592E1C);
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.artical-body {
  margin-top: 10px;
  margin-bottom: 10px;
}



/* Button Style */

div.button {
  margion:0px;
  padding: 20px 40px 20px 40px;
  color: #CCB77A;
  background-color: #9A5235;
  border: 0px solid white;
  border-radius: 5px;
}

div.button:hover {
  margion:0px;
  padding: 20px 40px 20px 40px;
  color: #9A5235;
  background-color: #D3BF89;
  border: 0px solid white;
  border-radius: 5px;
}
