body, html {
  height: 100%;
}

.background {
  background-color: #592E1C; /* For browsers that do not support gradients */
  background-image: linear-gradient(#1B0C06, #592E1C);
  
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: #CCB77A;
  text-decoration: none;
}

a:hover, a:active {
  color: #9A5235;
  text-decoration: underline;
}

.section-link {
  padding: 0px 5px 0px 5px;
  margion: 0px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  width: 100%;
}


[class="video-desktop"] {
  display: none;
}
[class="video-tablet"] {
  display: none;
}
[class="video-mobile"] {
  display: none;
}
[class="video-mobile-tall"] {
  display: inline;
}

@media only screen and (min-width: 412px) {
  .video-desktop {display: none;}
  .video-tablet {display: none;}
  .video-mobile {display: inline;}
  .video-mobile-tall {display: none;}
}

@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .video-desktop {display: none;}
  .video-tablet {display: inline;}
  .video-mobile {display: none;}
  .video-mobile-tall {display: none;}
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .video-desktop {display: inline;}
  .video-tablet {display: none;}
  .video-mobile {display: none;}
  .video-mobile-tall {display: none;}
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.full-table {width:100%; height:auto;}
.full-table > th {width:100%; height:auto;}
.full-table > td {width:100%; height:auto;}

.header {
  background-color: #9A5235;
  color: #CCB77A;
  padding: 15px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #9A5235;
  color: #CCB77A;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.menu li:hover {
  background-color: #D3BF89;
  color: #9A5235;
}

.aside {
  background-color: #9A5235;
  padding: 15px;
  color: #CCB77A;
  text-align: center;
  font-size: 14px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: #9A5235;
  color: #CCB77A;
  text-align: center;
  font-size: 12px;
  padding: 15px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.article {
  color: #CCB77A;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
