/* ITEM TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* RECIPE BLOCK */

.crafting-block { 
  background-color: #C6C6C6;
  margin: 7.5px; padding: 15px; width: 365px; height: 270px;
  display: inline-block; float: left;
  border-top: 5px solid #FFFFFF; border-left: 5px solid #FFFFFF; border-bottom: 5px solid #373737; border-right: 5px solid #373737; border-radius: 25px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}


/* RECIPE NAME */
.crafting-block .crafting-name {
  margin: 0px; padding: 0px 0px 15px 0px;
  font-size: 15px; color: #FFFFFF;
  font-weight: bold;
}

/* RECIPE GRID */

.crafting-block .crafting-grid {
  margin: 0px; padding: 0px; width:325px; height:195px;
  display: inline-block; float: left;
}


/* RECIPE COLUMNS */

.crafting-block .crafting-grid .crafting-column-0 {
  margin: 0px; padding: 0px; width:195px; height:195px;
  display: inline-block; float: left;
}

.crafting-block .crafting-grid .crafting-column-1 {
  margin: 0px; padding: 0px; width:65px; height:195px;
  display: inline-block; float: left;
}

.crafting-block .crafting-grid .crafting-column-2 {
  margin: 0px; padding: 0px; width:65px; height:195px;
  display: inline-block; float: left;
}


/* RECIPE ROWS */

[class="crafting-block"] [class="crafting-grid"] [class="crafting-column-0"] [class*="crafting-row-"] {
  margin: 0px; padding: 0px; width:195px; height:65px;
  display: inline-block; float: left;
}

[class="crafting-block"] [class="crafting-grid"] [class="crafting-column-1"] [class*="crafting-row-"] {
  margin: 0px; padding: 0px; width:65px; height:65px;
  display: inline-block; float: left;
}
[class="crafting-block"] [class="crafting-grid"] [class="crafting-column-2"] [class*="crafting-row-"] {
  margin: 0px; padding: 0px; width:65px; height:65px;
  display: inline-block; float: left;
}

/* RECIPE SLOTS */

[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] {
  margin: 0px; padding: 0px; width:65px; height:65px;
  display: inline-block; float: left;
  background-size: 65px;
}

[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-image-"] {
  background-image: url("../img/recipe-icons/minecraft/minecraft-slot.png");
}

/* RECIPE GUI ITEMS */

[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] [class*="crafting-img-"] {
  background-size: 65px; margin: 0px; padding: 0px; width:65px; height:65px; display: inline-block; float: left;
}  

[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-crafting-arrow {
  background-image: url("../img/recipe-icons/minecraft/crafting-arrow.png");
}

[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-furnace-fire {
  background-image: url("../img/recipe-icons/minecraft/furnace-fire.png");
}

/* RECIPE ITEMS */
  /* ALUMINUM AXE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-axe {
  background-image: url("../img/recipe-icons/automation/aluminum-axe.png");
}

  /* ALUMINUM BOOTS */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-boots {
  background-image: url("../img/recipe-icons/automation/aluminum-boots.png");
}
  /* ALUMINUM CHESTPLATE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-chestplate {
  background-image: url("../img/recipe-icons/automation/aluminum-chestplate.png");
}

  /* ALUMINUM HELMET */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-helmet {
  background-image: url("../img/recipe-icons/automation/aluminum-helmet.png");
}

  /* ALUMINUM HOE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-hoe {
  background-image: url("../img/recipe-icons/automation/aluminum-hoe.png");
}

  /* ALUMINUM INGOT */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-ingot {
  background-image: url("../img/recipe-icons/automation/aluminum-ingot.png");
}

  /* ALUMINUM LEGGINGS */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-leggings {
  background-image: url("../img/recipe-icons/automation/aluminum-leggings.png");
}

  /* ALUMINUM NUGGET */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-nugget {
  background-image: url("../img/recipe-icons/automation/aluminum-nugget.png");
}

  /* ALUMINUM PICKAXE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-pickaxe {
  background-image: url("../img/recipe-icons/automation/aluminum-pickaxe.png");
}

  /* ALUMINUM SHOVEL */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-shovel {
  background-image: url("../img/recipe-icons/automation/aluminum-shovel.png");
}

  /* ALUMINUM SHOVEL */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-aluminum-sword {
  background-image: url("../img/recipe-icons/automation/aluminum-sword.png");
}
  /* COAL */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-coal {
  background-image: url("../img/recipe-icons/minecraft/coal.png");
}

  /* MACHINE WRENCH */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-machine-wrench {
  background-image: url("../img/recipe-icons/automation/machine-wrench.png");
}

  /* PAPER */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-paper {
  background-image: url("../img/recipe-icons/minecraft/paper.png");
}

  /* RED DYE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-red-dye {
  background-image: url("../img/recipe-icons/minecraft/red-dye.png");
}

  /* STICK */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-stick {
  background-image: url("../img/recipe-icons/minecraft/stick.png");
}

  /* TECHNOLOGY SCROLL */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-technology-scroll {
  background-image: url("../img/recipe-icons/automation/technology-scroll.png");
}

  /* DISPENSER */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-dispenser {
  background-image: url("../img/recipe-icons/minecraft/dispenser.png");
}

  /* MACHINE BLOCK */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-machine-block {
  background-image: url("../img/recipe-icons/automation/machine-block.png");
}

  /* AUTO FARMING MACHINE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-auto-farming-machine {
  background-image: url("../img/recipe-icons/automation/auto-farming-machine.png");
}

  /* PLANKS */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-planks {
  background-image: url("../img/recipe-icons/minecraft/planks.png");
}

  /* STONE ALL */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-stone-all {
  background-image: url("../img/recipe-icons/minecraft/stone-all.png");
}

  /* IRON INGOT */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-iron-ingot {
  background-image: url("../img/recipe-icons/minecraft/iron-ingot.png");
}

  /* GOLD INGOT */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-gold-ingot {
  background-image: url("../img/recipe-icons/minecraft/gold-ingot.png");
}

  /* DIAMOND INGOT */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-diamond {
  background-image: url("../img/recipe-icons/minecraft/diamond.png");
}

  /* NETHERITE INGOT */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-minecraft-netherite-ingot {
  background-image: url("../img/recipe-icons/minecraft/netherite-ingot.png");
}

  /* WOODEN UPGRADE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-wooden-upgrade {
  background-image: url("../img/recipe-icons/automation/wooden-upgrade.png");
  background-size: 80%;
  background-repeat:no-repeat;
  background-position:6px;
}

  /* STONE UPGRADE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-stone-upgrade {
  background-image: url("../img/recipe-icons/automation/stone-upgrade.png");
  background-size: 80%;
  background-repeat:no-repeat;
  background-position:6px;
}

  /* IRON UPGRADE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-iron-upgrade {
  background-image: url("../img/recipe-icons/automation/iron-upgrade.png");
  background-size: 80%;
  background-repeat:no-repeat;
  background-position:6px;
}

  /* GOLDEN UPGRADE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-golden-upgrade {
  background-image: url("../img/recipe-icons/automation/golden-upgrade.png");
  background-size: 80%;
  background-repeat:no-repeat;
  background-position:6px;
}

  /* DIAMOND UPGRADE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-diamond-upgrade {
  background-image: url("../img/recipe-icons/automation/diamond-upgrade.png");
  background-size: 80%;
  background-repeat:no-repeat;
  background-position:6px;
}

  /* NETHERITE UPGRADE */
[class="crafting-block"] [class="crafting-grid"] [class*="crafting-column-"] [class*="crafting-row-"] [class*="crafting-slot-"] .crafting-img-automation-netherite-upgrade {
  background-image: url("../img/recipe-icons/automation/netherite-upgrade.png");
  background-size: 80%;
  background-repeat:no-repeat;
  background-position:6px;
}